style.css
<style>
@import 'https://fonts.googleapis.com/css?family=Quicksand';
</style>
body {
	background-color: #white;
}
h1 {
	text-align: left;
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
	text-transform: none;
	color: #deb887;
	
	}
h3 {
	text-align: left;
	font-family: 'Quicksand', sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	font-style: italic;
	color: #deb887;
	;
	}
h4 {
	text-align: left;
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
	text-transform: none;
	color: #deb887;}
	padding-left: 20px;

a {
	color:#deb887
	text-decoration: none;
}

header {
    background-color: #white;
    border: 5px white;
    padding: 20px;
}
nav {
	text-align: center;
	background-color: #777D64  ;
	border: 5px #777D64   solid;
}

main {
	width: auto;
	float: center;
}

article {
	padding: 30px 0;
	float: right;
	border-bottom: 2px solid #deb887;
	background-color: #white;
}

p {
    text-align: center;
    color: #deb887;
    font-family: 'Quicksand';
}

aside {
	padding-top: 15px
	float: left;
	width: auto;
	background-color: #777D64 ;
}

ul{
	text-align: left;
	list-style-type: none;
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
	color: #deb887;
	padding-left: 20px;
	background-color: #white;
	}
a
	{
	text-align: center;
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	color: #deb887;
}
img {
    width: 100%;
    height: auto;
}

footer {
	text-align: center;
	text-weight: bold;
	clear: both;
	background-color: #777D64  ;
	padding: 20px;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

#two_column {
    background-color: #white;
    border: 1px black solid;
    padding: 20px;
    width: 100%;
    height: auto;
}

#left {
    background-color: #777D64;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 30%;
}

#right {
    background-color: #777D64;
    border: 1px black solid;
    padding: 20px;
    width: 62%;
}